* {

}


@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,700;1,500&family=Newsreader:wght@200;300&display=swap');
body {
  font-family: 'Bitter', serif;
  background: #ede0d4;
}

p {
  font-size: 1.2rem;
  font-weight: 600;;
  color: #343a40;
  margin-left: -0.6rem;;
}


code {
  color: #495057;
  
}

a:hover {
  color: red;
}

h1, h2, h3 {
  margin-left: -0.6rem;
}

li {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;;
}

.subLinks {
  font-size: 1rem;
}

ul {
  list-style: none;
  margin-left: -2rem;;
}

.tab {
  padding-left: 2rem;
}