* {

}

html {
  font-size: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,700;1,500&family=Newsreader:wght@200;300&display=swap');
body {
  font-family: 'Bitter', serif;
  background: #121417;
  color: #2dc653;
  height: 100vh;
  position: relative;
  
}


  

@keyframes glitch{
  2%,64%{
    transform: translate(0.5px,0) skew(0deg);
  }
  
  62%{
    transform: translate(0,0) skew(4deg); 
  }
}
.flick {
  text-shadow: 0 0 2px #2dc653;
  position: relative;
  height: 100%;
}

.flick:before {
  animation: example 0.1s linear infinite;
  
  height: 100%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 2px;
  z-index: 2;
  pointer-events: none;
}

@keyframes example {
  0%   {opacity: 0.3}
  
  50%  {opacity: 0.7}
  
}


p {
  font-size: 1.2rem;
  font-weight: 600;;
  
  margin-left: -0.6rem;;
}


code {
  color: inherit;
  
}

a {
  color: inherit;
}
a:hover {
  color: green;
}

h1, h2, h3 {
  margin-left: -0.6rem;
  
}

li {
  font-size: 1rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.subLinks {
  font-size: 0.9rem;
  font-weight: 300;
}

ul {
  list-style: none;
  margin-left: -2rem;;
}

.tab {
  padding-left: 2rem;
}

.crtWrapper {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  height: 100%;
}
.crtBtn {
  
  margin-left: 5rem;
  margin-top: 2rem;
  background: #2dc653;
  color: black;
  border: none;
  
  font-size: 1rem;
  border-radius: 5px;
  font-family: 'Bitter', serif;
  font-weight: 600;
  
}

.invert {
  background: black;
  color: #2dc653;
}

.rotate90 {
  font-size: 2rem;
  font-weight: 200;
  writing-mode: vertical-rl;
  vertical-align: bottom;
  margin-left: -0.5rem;
}

.hide {
  visibility: hidden;
  height: 0rem;

}

.showBtn {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 200;
}

.showBtn:hover {
  color: yellow;
  cursor: pointer;
}

.frame {
  background: url("./assets/tv2.png") no-repeat center ;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  
  
  position: absolute;
  overflow: auto;
}

.screenWrapper {
  width: 70vw;
  margin: 0 auto;
  position: relative;
  top: 200px;
  vertical-align: middle;
  
}